@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DBA979;
  --primary: #ECCA9C;
  --secondary: #E8EFCF;
  --accent: #AFD198;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*@font-face {
  font-family: 'COCfont';
  src: url('./styles/fonts/Supercell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

body{
  background-color: var(--background);
  font-family: 'COCfont', sans-serif;

}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


nav {
  background-color: var(--secondary);
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 20px;
  
}

.nav-button {

  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  
  border-radius: 10px;
  color: var(black);
  text-decoration: none;
  width: 10px;
  border: 2px solid black;
  text-align: center;
}
.hamburger {
  display: none;
  visibility: hidden;
}


.active {
  /* Styles for the active link, e.g., */
  background-color: var(--accent);
  
}


nav ul li {
  border-radius: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
   
}

.section{
  display: flex;
  flex-direction: column;
  
  flex: 1; /* fill available horizontal space */
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--foreground);
  width: 100%;
}



@media (max-width: 550px) {
  body{
    display: block;
  }
  nav ul li{
    display: none;
    flex-direction: column;
    padding: 0;
    flex: 0;
    width: auto;
  }
  nav ul{
    display: block;
    flex: 1;
  }
  nav{
    display: flex; 
    align-items: center;
  }
  .active{
    display: block;
    width: auto;
  }
  .hamburger {
    display: block;
    visibility: visible;
    float: left;
  }
  .container{
    padding: 0;
  }
}
